<!DOCTYPE html>
<html>
    <head>
        <script src="https://use.fontawesome.com/d9e94d0c4e.js"></script>
        <link href="/stylesheets/app.css" type="text/css" rel="stylesheet">
        <title>Stock HW</title>
    </head>
    <body>
     